<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!--<link rel="stylesheet" href="main.css">-->
   <link rel="stylesheet" href="data.css">
   <title>Data Display</title>
</head>
<body>
   <!--<img src="{{asset('/images/logo2.png')}}" id="ind-logo">-->
   <img src="logo2.png" id="table-logo" alt="GAIA club logo">
    <h1>Club Members Data Display</h1>

    <table>
        <thead>
            <tr>
                <th>Group Name</th>
                <th>Surname</th>
                <th>Given Names</th>
                <th>University Name</th>
                <th>Faculty/Department</th>
                <th>Degree</th>
                <th>Year of Study</th>
                <th>University ID</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <!--@foreach($data as $item)-->
            <tr>
                <td>{{ $item->id }}</td>
                <td>{{ $item->surname }}</td>
                <td>{{ $item->given_name }}</td>
                <td>{{ $item->university_name }}</td>
                <td>{{ $item->id }}</td>
                <td>{{ $item->name }}</td>
                <td>{{ $item->id }}</td>
                <td>{{ $item->name }}</td>
                <td>{{ $item->id }}</td>
                <td>{{ $item->name }}</td>
                <td>{{ $item->id }}</td>
                <td>{{ $item->name }}</td>
                <td>{{ $item->id }}</td>
                <!-- Add more cells based on your table structure -->
            </tr>
            <!--@endforeach-->
        </tbody>
    </table>
</body>
</html>
